//colors
$white: #fff;
$blue1: #0c6db3;
$blue2: #0d81d3;
$blue3: #12578a;
$blue8: #0b9bd9;
$black: #000;

$gray3: #4a4a4a;
$gray8: #f6f6f6;

//animations
$circleStep: .075s;

// grid variables
$grid-columns: 12;
$grid-max-width: 1220px;
$grid-max-width-tablet: 100%;
$grid-max-width-mobile: 100%;
$gutterWidth: 10px;
$gutterWidth-tablet: 10px;
$gutterWidth-mobile: 10px;
$grid-gutter-tablet: 15px;
$grid-gutter-mobile: 15px;

//breakpoints
$tablet:1023px;
$mobile:767px;
$mobile-small: 480px;




